.index-container .swiper-container{width:100%;height:190px;}
.index-container .swiper-container img{width:100%;}
.index-container .menu{width:100%;height:110px;border-bottom:10px solid #faf9f9;}
.index-container .menu a{display:block;width:25%;height:100%;float:left;text-align: center;}
.index-container .menu img{width:60%;margin:10%;}
.index-container .menu p{color:#666;}
.index-container .title{height:50px;line-height:50px;}
.index-container .title a{font-szie:0.75rem;float:right;margin-right:1rem;}
.index-container .title h1{font-size:1rem;margin-left:1rem;}
.index-container .product{width:100%;display:flex;flex-wrap:wrap;justify-content: space-around;}
.index-container .product dl{border-bottom:2px solid #ccc;margin-bottom:1rem}
.index-container .product dt img{width:10rem;height:13rem;}
.index-container .product dd{height:4.375rem;line-height:4.375rem;}

